#game-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 1000px;
    height: 800px;
    display: absolute;
    margin: 200px auto;
}

h1 {
    font-size: 80px;
    display: relative;
    text-align: center;
}

/* .hide {
    display: none;
} */