#game-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 1000px;
    height: 800px;
    margin: 200px auto;
    
}
#intro-section {
    text-align: center;
}

h1 {
    font-size: 80px;
    
}

.hide {
    display: none;
}