body {
    background-image: linear-gradient(to bottom, rgb(254, 185, 185), rgb(253, 211, 177));
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

#full-game-div {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 1000px;
    height: 800px;
    margin: 100px auto;
    margin-bottom: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Slackey', cursive;
    font-size: 6em;
    color: rgb(48, 42, 42);
    text-shadow: 2px 2px rgb(255, 255, 255);
    margin: 55px;
    position: relative;
    z-index: 1;
}

h1::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 85px;
    width: 800px;
    height: 25px;
    transform: skew(-20deg) translateX(-50%);
    background-image: linear-gradient(to right, rgba(255, 101, 107, 0.6), rgba(255, 163, 97, 0.6), rgba(245, 218, 110, 0.6));
    z-index: -1;
    border-radius: 3px;
}


h2 {
    font-family: 'Cute Font', cursive;
    font-size: 5em;
    margin: 20px;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

h3 {
    font-family: 'Cute Font', cursive;
    font-size: 3em;
    margin: 10px;
}

#intro-section h3::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 27px;
    width: 300px;
    height: 26px;
    transform: skew(-20deg) translateX(-50%);
    background-image: linear-gradient(to right, rgba(255, 101, 107, 0.6), rgba(255, 163, 97, 0.6), rgba(245, 218, 110, 0.6));
    z-index: -1;
    border-radius: 3px;
}

#instructions-div h3::before {
    width: 240px;
}

p {
    font-family: 'Play', sans-serif;
    font-size: 1.3em;
    margin: 5px;
}

button {
    font-family: 'Play', sans-serif;
    font-size: 1.3em;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}

button:hover {
    box-shadow: 0 8px 5px -5px rgb(43, 40, 40);
    transform: translateY(-3px);
    transition: 0.1s;
    background-image: linear-gradient(to right, rgba(255, 101, 107, 0.6), rgba(255, 163, 97, 0.6), rgba(245, 218, 110, 0.6));
}

button:active {
    color: white;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#intro-section {
    text-align: center;
    position: relative;
}

#landing-page {
    margin: 150px 0 0 0;
}

#landing-page button {
    margin: 20px;
}

#landing-page img {
    width: 80px;
    height: 80px;
    margin-top: 100px;
}

#animate-fruits span {
    display: inline-block;
    animation: animateFruits 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

#instructions-div {
    position: absolute;
    width: 50%;
    top: 27%;
    left: 25%;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 0 0 10px 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.3);
}

#difficulty-div {
    position: absolute;
    width: 50%;
    top: 35%;
    left: 25%;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 0 0 10px 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.3);
}

#x-btn {
    position: absolute;
    font-size: 1em;
    padding: 2px 7px;
    top: 0;
    right: 0;
}

#x-btn:hover {
    box-shadow: none;
    transform: none;
    background-color: rgb(255, 176, 176);
}

#text-section {
    width: 500px;
    height: 610px;
    float: left;
    margin: 95px 0 95px 20px;
    font-family: 'Play', sans-serif;
    animation: fadeIn 1.2s;
}

#timer-div {
    margin: 50px;
}

#timer-wrapper {
    border: 1px solid rgb(255, 152, 93);
    width: 52px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(255, 152, 93);
}

#timer-text {
    color: white;
    font-size: 1.6em;
}

#prompt-text {
    font-size: 1.8em;
    margin: 120px 0 60px 0;
}

input {
    font-family: 'Play', sans-serif;
    font-size: 1.7em;
    width: 410px;
    border: none;
    border-bottom: 2px solid rgb(255, 174, 174);
    margin-bottom: 40px;
    background-color: transparent;
    text-align: center;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgb(184, 167, 160);
}

.score-text {
    font-size: 1.8em;
    color: rgb(254, 164, 164);
}

#images-container {
    border: 1px solid rgb(0, 0, 0);
    float: right;
    border-radius: 12px;
    margin: 100px 17px;
    padding: 6px;
    background-color: rgb(255, 174, 174);
    animation: fadeIn 1.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2);
}

#images-grid {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px 140px 140px;
    width: 420px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 9px;
}

#images-container img {
    width: 140px;
    height: 140px;
}

#bonus-page {
    width: 500px;
    height: 610px;
    float: left;
    margin: 80px 0 0 20px;
    animation: fadeIn 1.5s;
}

#bonus-page h2 {
    margin: 0;
    color: rgb(255, 138, 70);
    animation: blink 1.5s linear infinite;
}

#bonus-page h3 {
    margin: 0;
    color: rgb(61, 59, 59)
}

#bonus-page img {
    width: 250px;
    height: auto;
    margin: 20px;
}

#game-over-page {
    margin-top: 70px;
    animation: fadeIn 1.2s;
}

#game-over-page img,
#win-page img {
    width: 240px;
    height: auto;
}

#win-page {
    margin-top: 80px;
    animation: fadeIn 1.2s;
}

#play-again-btn {
    margin-top: 40px;
}

footer {
    font-family: 'Play', sans-serif;
    margin-top: 30px;
}

.highlight {
    background-color: rgb(153, 221, 160);
}

.hide {
    display: none;
}


@keyframes fadeIn {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateFruits {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-15px)
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.1;
    }
}